/*GENERAL*/

body {
	margin: 0 auto;
	width: 100vw;
}

.tableau {
	display: table;
}

/*BARRE DE NAVIGATION*/

#nav {
	display: table-header-group;
	background-color: #2c3e50;
	height: 70px;
	border-spacing: 20px;
	position: fixed;
	width: 100%;
	z-index: 99;
}

.bouton {
	display: table-cell;
	height: 35px;
	width: 90px;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	color: #F5F5F5;
	background-color: transparent;
	border-radius: 3%;
	cursor: pointer;
}

.bouton:hover {
	background-color: #e74c3c; 
}

.menu {
	margin-left: 60%;
}

/*HEADER*/

.head {
	display: table-row;
	width: 100%;
	background-image: url('../img/paon.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	height: 400px;
}	

h1 {
	text-align: center;
	text-transform: uppercase;
	color: #2c3e50;
	line-height: 70px;
    font-family: 'Droid Serif', serif;
    font-size: 50px;
    margin-top: 8%;
    margin-bottom: 4px;
}

.author {
	text-align: right;
	font-family: 'Droid Serif', serif;
    font-size: 30px;
    color: #2c3e50;
    font-weight: bold;
    margin-right: 21%;
    margin-top: 9px;
    text-decoration: underline #2c3e50;
}


/*LIGNE UN*/

.row1 {
	background-color: #bdc3c7;
	display: table-row;
	width: 100%;
	border-spacing: 100px 30px;
	color: #2c3e50;
	font-family: 'Droid Serif', serif;
	font-size: 15px;
	line-height: 28px;
}

.cell {
	display: table-cell;
	padding-left: 4%;
	width: 300px;
}

h3 {
	text-align: center;
	text-transform: uppercase;
}

/*LIGNE DEUX */
.row2 {
	display: table-row;
}
.cellPhoto {
	display: table-cell;
	border-spacing: 150px 50px;
	background-color: #95a5a6;
	vertical-align: middle;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}

.photo2 {
	display: table-cell;
	background-image: url('../img/fire.jpg');
	background-size: cover;
	background-position: right;
	width: 300px;
	height: 350px;
	border-radius: 4%;
	cursor: pointer;
    transition: all 0.3s ease 0.3s;
    -moz-transition: -moz-transform .3s;
}

.photo1 {
	display: table-cell;
	background-image: url('../img/fireRing.jpg');
	background-size: cover;
	background-position: center;
	width: 300px;
	height: 350px;
	border-radius: 4%;
	cursor: pointer;
    transition: all 0.3s ease 0.3s;
    -moz-transition: -moz-transform .3s;
}

.photo3 {
	display: table-cell;
	background-image: url('../img/fire2.jpg');
	background-size: cover;
	background-position: center;
	width: 300px;
	height: 350px;
	border-radius: 4%;	
	cursor: pointer;
    transition: all 0.3s ease 0.3s;
    -moz-transition: -moz-transform .3s;
}

.photo1:hover, .photo2:hover, .photo3:hover {
	transition: 0.5s;
	transform: rotate(-7deg); 
}

h2 {
	display: table-caption;
	text-align: center;
	font-family: 'Droid Serif', serif;
	font-size: 30px;
	color: #ecf0f1;
}


/*LIGNE TROIS*/
.row3 {
	display: table-row;
}

.longPoem {
	display: table-cell;
	background-color: #bdc3c7;
	height: 300px;
	vertical-align: middle;
	padding-left: 10.5%;
	padding-top: 3.5%;
	padding-bottom: 3.5%;
	border-spacing: 30px 20px;
}

.authorLongPoem {
	text-align: right;
	margin-right: 7%;
	text-decoration: underline;
	font-weight: bold;
}

.longPoemText {
	display: table-caption;
	text-align: center;
	font-family: 'Droid Serif', serif;
	font-size: 15px;
	color: #2c3e50;
	width: 80%;
	margin-top: 2%;	
	margin-left: 10%;
	line-height: 28px;
}

.way1 {
	display: table-cell;
	background-image: url('../img/way1.jpg');
	background-size: cover;
	background-position: center;
	width: 180px;
	height: 140px;
	border-radius: 3%;
}

.bird {
	display: table-cell;
	background-image: url('../img/bird2.jpg');
	background-size: cover;
	background-position: center;
	width: 180px;
	height: 140px;
	border-radius: 3%;
}

.human {
	display: table-cell;
	background-image: url('../img/human.jpg');
	background-size: cover;
	background-position: center;
	width: 180px;
	height: 140px;
	border-radius: 3%;
}

.girl {
	display: table-cell;
	background-image: url('../img/girl.jpg');
	background-size: cover;
	background-position: center;
	width: 180px;
	height: 140px;
	border-radius: 3%;
}

.parkbench {
	display: table-cell;
	background-image: url('../img/parkbench.jpg');
	background-size: cover;
	background-position: center;
	width: 180px;
	height: 140px;
	border-radius: 3%;
}

.endurance {
	display: table-cell;
	background-image: url('../img/endurance.jpg');
	background-size: cover;
	background-position: center;
	width: 180px;
	height: 140px;
	border-radius: 3%;
}

/*FOOTER*/
footer {
	background-color: #2c3e50;
	height: 70px;
	border-spacing: 30px 20px;
	display: table-footer-group;
}

.foot {
	display: table-cell;
	padding-left: 43%;
	text-align: center;
	padding-bottom: 25px;
	padding-top: 25px;
}

.copyright {
	display: table-caption;
	font-family: 'Droid Serif', serif;
	font-size: 12px;
	font-weight: bold;
}

.facebook {
	height: 30px;
	width: 30px;
	background-color: transparent;
	display: table-cell;
	background-image: url('../img/facebook.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.twitter {
	height: 30px;
	width: 30px;
	background-color: transparent;
	display: table-cell;
	background-image: url('../img/twitter.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.world {
	height: 30px;
	width: 30px;
	background-color: transparent;
	display: table-cell;
	background-image: url('../img/earth.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

